---
- action: setup
  tags: [nginx]

- name: Copy the nginx packages
  copy: src=nginx.repo dest=/etc/yum.repos.d/
  tags: [nginx]

- name: Install the nginx packages 
  yum: name={{ item }} state=present
  with_items: redhat_pkg
  tags: [nginx]

- name: Create the directories for site specific configurations
  file: path=/etc/nginx/{{ item }} state=directory owner=root group={{ nginx_group }} mode=0755
  with_items:
    - "sites-available"
    - "sites-enabled"
    - "auth_basic"
  tags: [nginx]

- name: Copy the nginx configuration file 
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify: 
   - restart nginx
  tags: [nginx]
  
- name: Copy fastcgi_params configuration file
  template: src=fastcgi_params.j2 dest=/etc/nginx/fastcgi_params
  notify: 
   - restart nginx
  tags: [nginx]

- name: Ensure auth_basic files created
  template: src=auth_basic.j2 dest=/etc/nginx/auth_basic/{{ item }} owner=root group={{ nginx_group }} mode=0750
  with_items: nginx_auth_basic_files.keys()
  tags: [nginx]

- name: Create the configurations for sites
  template: src=site.conf.j2 dest=/etc/nginx/sites-available/{{ item }}.conf
  with_items: nginx_sites.keys()
  notify: 
   - reload nginx
  tags: [nginx]
  
- name: Create the configuration for default site
  template: src=default_site.conf.j2 dest=/etc/nginx/conf.d/default.conf
  with_items: nginx_default_site.keys()
  notify: 
   - reload nginx
  tags: [nginx]
  
- name: Create the directory for default site scripts
  file: path={{ nginx_default_site_folder }} state=directory owner=root group={{ nginx_group }} mode=0755
  when: nginx_default_site_folder is defined
  tags: [nginx]
  
- name: Copy default site scripts
  template: src={{ item }}.j2 dest={{ nginx_default_site_folder }}/{{ item }} owner=root group={{ nginx_group }} mode=0755
  with_items: nginx_default_site_scripts
  when: nginx_default_site_folder is defined and nginx_default_site_scripts is defined
  tags: [nginx]
  
- name: Create the directory for custom scripts
  file: path=/opt/nginx state=directory owner=root group={{ nginx_group }} mode=0755
  when: nginx_custom_scripts is defined
  tags: [nginx]
  
- name: Copy custom scripts
  template: src={{ item }}.j2 dest=/opt/nginx/{{ item }} owner=root group={{ nginx_group }} mode=0755
  with_items: nginx_custom_scripts
  when: nginx_custom_scripts is defined
  tags: [nginx]

- name: Create links for sites-enabled
  file: state=link src=/etc/nginx/sites-available/{{ item }}.conf dest=/etc/nginx/sites-enabled/{{ item }}.conf
  with_items: nginx_sites.keys()
  notify: 
   - reload nginx
  tags: [nginx]

- name: Create the configurations for independant config file
  template: src=config.conf.j2 dest=/etc/nginx/conf.d/{{ item }}.conf
  with_items: nginx_configs.keys()
  notify: 
   - reload nginx
  tags: [nginx]

- name: Create the users for static content sites
  user: name={{ item.name }} groups={{ nginx_group }} uid={{ item.user_id }} home=/share/{{ item.name }} createhome=no
  with_items: nginx_static_content_sites
  when: nginx_static_content_sites|lower != 'none'
  tags: [nginx]

- name: Create the directories for static content sites
  file: path=/share/{{ item.name }} state=directory owner={{ item.name }} group={{ nginx_group }} mode=0755
  with_items: nginx_static_content_sites
  when: nginx_static_content_sites|lower != 'none'
  tags: [nginx]

- include: ssl.yml
  when: nginx_ssl_certificates|lower != 'none'
  tags: [nginx]

- name: Check nginx syntax of configuration files
  shell: nginx -t
  register: result
  failed_when: "result.rc != 0"
  changed_when: false
  tags: [nginx]

- name: Start the nginx service
  service: name=nginx state=started enabled=yes
  when: nginx_daemon is undefined or nginx_daemon|lower != 'off'
  tags: [nginx]
  
- name: Stop the nginx service
  service: name=nginx state=stopped enabled=no
  when: nginx_daemon is defined and nginx_daemon|lower == 'off'
  tags: [nginx]
