---
- name: restart nginx
  service: name=nginx state=restarted
  when: nginx_daemon is undefined or nginx_daemon|lower != 'off'

- name: reload nginx
  service: name=nginx state=reloaded
  when: nginx_daemon is undefined or nginx_daemon|lower != 'off'
