<Location /server-status>
        SetHandler server-status
        Allow from 127.0.0.1 # If using a remote host for monitoring replace 127.0.0.1 with its IP.
        Order deny,allow
        Deny from all
</Location>
ExtendedStatus On # Optional. Must be in global scope and not in a virtual host